.project-card {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  gap: 1rem;
}

.project-info {
  width: 70%;
}
.project-card > img {
  width: 23rem;
  height: 15rem;
  max-width: 700px;
}

.projects-container {
  border-top: 0.5rem solid blue;
}

.project-links {
  display: flex;
  gap: 0.5rem;
}

button {
  color: white;
  align-items: center;
  background-color: #4169e1;
  width: 7rem;
  height: 2.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 660px) {
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
