.about-top {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.about-info {
  display: flex;
  align-items: center;
  width: 50%;
}

.about-photo {
  width: 50%;
}

.about-photo img {
  width: 100%;
}

.about-info > p {
  font-size: 40px;
}
