.About {
  margin: 100px 0px 20px 0px;
}

.about-top {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 3rem;
}

.about-info {
  display: flex;
  align-items: center;
  width: 50%;
}

.about-photo {
  width: 40%;
  height: auto;
}

.about-photo img {
  width: 80%;
  height: auto;
}

.about-info > p {
  font-size: 1.25rem;
}

.about-info span {
  color: #00f;
  font-size: 1.5rem;
}

@media (max-width: 660px) {
  .about-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .about-photo {
    display: flex;
    justify-content: center;
  }

  .about-info {
    justify-content: center;
  }
}
