.header {
  display: flex;
  width: 100%;
}

.header-menu {
  display: flex;
  margin-left: auto;
}

.header-menu > h2 {
  padding: 10px;
}

.header-icon {
  width: 50px;
  height: 45px;
  padding: 10px;
  margin-top: 15px;
}
