.work-container {
  border-top: 0.5rem solid blue;
}

.workInfo {
  display: flex;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f9f9f9;
}

.work-left {
  width: 70%;
}

.work-container img {
  width: 20rem;
  height: 13rem;
}

.dark-mode {
  background-color: black;
  color: white;
}

@media (max-width: 660px) {
  .workInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .work-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
